<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
      <!--Source-->
      <!--<add name="ConnDpsSQL" connectionString="Server=10.200.20.20;Initial Catalog=PGMDPS;User ID=sa;Password=P@$$w0rd"
           providerName="System.Data.SqlClient"/>
      <add name="ConnPisSQL" connectionString="Server=10.200.20.11;Initial Catalog=PGMPIS;User ID=sa;Password=P@$$w0rd"
           providerName="System.Data.SqlClient"/>-->

		<add name="ConnDpsSQL" connectionString="Data Source=uat-coretech.ddns.net, 61660;Initial Catalog=PGMDPS;User ID=sa;Password=sa@12345;"/>
		<add name="ConnPisSQL" connectionString="Data Source=uat-coretech.ddns.net, 61660;Initial Catalog=PGMPIS;User ID=sa;Password=sa@12345;"/>
      <!--Internal Testing-->
      <!--<add name="ConnDpsSQL" connectionString="Data Source=localhost\MSSQLSERVERR2;Initial Catalog=PGMDPS;User ID=sa;Password=P@$$w0rd"
           providerName="System.Data.SqlClient"/>
      <add name="ConnPisSQL" connectionString="Data Source=localhost\MSSQLSERVERR2;Initial Catalog=PGMPIS;User ID=sa;Password=P@$$w0rd"
           providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    <appSettings>
      <add key="pisConnInterval" value="30000"/> <!--stored in milliseconds, 1 second = 1000ms -->
      <add key="pisIpAdd" value="127.0.0.1"/>
      <!--<add key="pisIpAdd" value="192.168.1.169"/>-->
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
